.main-searchbar {
  min-height: 10px;
  color: black;
  background-color: rgb(233, 238, 234);
  --border-radius: 0;
}

.main-searched-content {
  position: absolute;
  z-index: 10;
  border-radius: 0;
}

.is-hidden {
  display: none;
}

.searched-list-group-button {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .3s;
}

.searched-list-group-button:hover {
  background-color: #F8B0A6;
}

.restaurant-name {
  font-size: 12pt;
}

.restaurant-address {
  font-size: 10pt;
}