.main{
    background-image: url("../assets/turkey-315079_1920.png");
    background-position: center;
    background-size: cover;
}
.icon-user{
    font-size: 6rem;

}

.icon-edit{
    font-size: 1rem;
}

.profile{
    display: flex;
    background-color: #f8b0a6;
    justify-content: center;
    width: auto;
}

.header-image{
  object-fit: cover;
  width: 6rem;
  height: 6rem;
}


.vertical-line{
    border-right: 2px solid;
    line-height: auto;
    text-align: center;


}

.rcards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 10px;
}


/* profile review */
.myClass {
    height: auto;
    width : 400px;
}

#overflow_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#toggle_text {
    cursor: pointer;
    color: #E7DA3D;
}

/* restaurant_review */
.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rate-form input[type=radio] {
  display: none;
}
.rate-form label {
  position: relative;
  padding: 0 5px;
  color: #ccc;
  cursor: pointer;
  font-size: 50px;
}
.rate-form label:hover {
  color: #ffcc00;
}
.rate-form label:hover ~ label {
  color: #ffcc00;
}
.rate-form input[type=radio]:checked ~ label {
  color: #ffcc00;
}
