.main{
    background-image: url("../assets/turkey-315079_1920.png");
    background-position: center;
    background-size: cover;
}
.icon-user{
    font-size: 6rem;
    
}

.icon-edit{
    font-size: 1rem;
}

.profile{
    display: flex;
    background-color: #f8b0a6;
    justify-content: center;
    width: auto;
}


.vertical-line{
    border-right: 2px solid;
    line-height: auto;
    text-align: center;
    
    
}

.rcards{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 10px;
}