
.top_img{
    height: 560px;
    /* padding: 0; */
}
.top_img img
{
    max-width: 100%;
    height: auto;
}

/* For reservations.blade.php */
.main_v_reservation{
    height: 560px;
}

.main_v_reservation img {
    width: 100%; 
    height: auto;
}
